/*#####################################################################################################################*/
/* homepage.jsp */
/*#####################################################################################################################*/
.panel-min-height{
    min-width: 90px;
}
.box-img-lg{
    height: 200px;
}
.box-img-md{
    height: 150px;
}
.thumbnail .box-img-lg img{
    max-height: 100%;
    max-width: 100%;
    padding: 6px 0px;

}
.thumbnail .box-img-md img{
    max-height: 100%;
    max-width: 100%;
    padding: 3px 0px;

}
.thumbnail .caption .caption-box{
    height: 70px;
}
.thumbnail .caption .price-box{
    height: 15px;
}
.row .col-md-9 .col-md-4{
    padding-left: 2px;
    padding-right: 2px;
}
.embed-responsive-map{
    padding-top: 250px;
}
.form-group textarea.testarea-height{
    height: 132px;
}
.input-group-addon{
    background-color: #337AB7;
    color: #FFF;
}
.min-height{
    height: 225px;
}
.img-carousel{
    max-height: 200px;
    max-width: 100%;
    margin-top: 0px;
}
.carousel-indicators{
    /*color: gray;*/
    /*background-color: gray;*/
}

/*#####################################################################################################################*/
/* for table in the bootstrap class 'container-fluid'  */
/*#####################################################################################################################*/
.container-fluid .table-responsive{
    margin: 0px 75px;
}


/*#####################################################################################################################*/
/* for table with a sort function */
/*#####################################################################################################################*/
table#sortTable thead th{
    position: relative;
    cursor: pointer;
}
thead th span{
    float: right;
}


/*#####################################################################################################################*/
/* orderConfirmation.jsp */
/*#####################################################################################################################*/
.primary-background > th {
    background-color: #337AB7;
    color: #FFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
div#summary{
    margin-right: 15px;
    margin-left: 15px;
}


/*#####################################################################################################################*/
/* product.jsp */
/*#####################################################################################################################*/
hr.gray{
    margin: 15px;
    border-top: 1px solid #ccc;
    width: 100%;
}


/*#####################################################################################################################*/
/* generaly styles */
/*#####################################################################################################################*/
section.main{
    min-height: 850px;
    text-align: center;
}
.min-width{
    min-width: 350px;
}
.pull-down {
    padding-top: 85px;
}


/*#####################################################################################################################*/
/* header.jsp */
/*#####################################################################################################################*/
.navbar{
    padding-top: 15px;
    padding-bottom: 5px; 
    font-size: 17px;
}
ul li a span.glyphicon-shopping-cart{
    margin-top: -9px; 
    font-size: 30px;
} 
ul li a span.badge{
    margin-top: -18px; 
    font-size: 20px;
}
ul li a span.nav-sign{
    margin-top: -3px;
    font-size: 22px;
}
ul li a span.nav-text{
    margin-top: -10px;
    font-size: 14px;
}


/*#####################################################################################################################*/
/* footer.jsp  */
/*#####################################################################################################################*/
footer{
    font-size: 17px;
    padding: 25px 0;
    margin: 10px 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

/*
.modal-dialog .modal-lg{
    position: fixed;
    top: 5%;
    right: 10%;
    outline: none;
    overflow: hidden;
} 
*/