.panel-height{
    min-width: 90px;
}

.box-img{
    height: 200px;
}

.box-img img{
    max-height: 100%;
    max-width: 100%;
    padding: 15px 0px;

}

.thumbnail .caption .caption-box{
    height: 75px;
}